/build/
.cabal-sandbox
.stack-work
**/cabal.config
cabal.sandbox.config
dist
TAGS
unitTest.tix
hpc_report
stack.yaml
**/dist-newstyle
.*.swp
cabal.project.local
*.tix
.ghc.environment.*
*~
cabal.project.freeze
