[submodule "dependencies/abcBridge"]
	path = dependencies/abcBridge
	url = https://github.com/GaloisInc/abcBridge.git
[submodule "dependencies/aig"]
	path = dependencies/aig
	url = https://github.com/GaloisInc/aig.git
[submodule "dependencies/blt"]
	path = dependencies/blt
	url =https://github.com/GaloisInc/blt.git
[submodule "dependencies/cryptol"]
	path = dependencies/cryptol
	url = https://github.com/GaloisInc/cryptol.git
[submodule "dependencies/cryptol-verifier"]
	path = dependencies/cryptol-verifier
	url = https://github.com/GaloisInc/cryptol-verifier.git
[submodule "dependencies/jvm-parser"]
	path = dependencies/jvm-parser
	url = https://github.com/GaloisInc/jvm-parser.git
[submodule "dependencies/llvm-pretty"]
	path = dependencies/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty.git
[submodule "dependencies/llvm-pretty-bc-parser"]
	path = dependencies/llvm-pretty-bc-parser
	url = https://github.com/GaloisInc/llvm-pretty-bc-parser.git
[submodule "dependencies/hpb"]
	path = dependencies/hpb
	url = https://github.com/GaloisInc/hpb.git
[submodule "dependencies/parameterized-utils"]
	path = dependencies/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
[submodule "dependencies/saw-core"]
	path = dependencies/saw-core
	url = https://github.com/GaloisInc/saw-core.git
[submodule "dependencies/saw-core-aig"]
	path = dependencies/saw-core-aig
	url = https://github.com/GaloisInc/saw-core-aig.git
[submodule "dependencies/saw-core-sbv"]
	path = dependencies/saw-core-sbv
	url = https://github.com/GaloisInc/saw-core-sbv.git
[submodule "dependencies/saw-core-what4"]
	path = dependencies/saw-core-what4
	url = https://github.com/GaloisInc/saw-core-what4.git
[submodule "dependencies/what4"]
	path = dependencies/what4
	url = https://github.com/GaloisInc/what4.git
