active-repositories: hackage.haskell.org:merge
constraints: any.Cabal ==3.0.1.0,
             any.Glob ==0.10.2,
             any.GraphSCC ==1.0.4,
             GraphSCC -use-maps,
             any.HUnit ==1.6.2.0,
             any.IntervalMap ==0.6.1.2,
             any.OneTuple ==0.3.1,
             any.QuickCheck ==2.14.2,
             QuickCheck -old-random +templatehaskell,
             any.SHA ==1.6.4.4,
             SHA -exe,
             any.StateVar ==1.2.2,
             any.adjunctions ==4.4,
             any.aeson ==2.0.3.0,
             aeson -cffi +ordered-keymap,
             any.aeson-typescript ==0.4.0.0,
             any.alex ==3.2.7.1,
             any.ansi-terminal ==0.11.1,
             ansi-terminal -example,
             any.ansi-wl-pprint ==0.6.9,
             ansi-wl-pprint -example,
             any.array ==0.5.4.0,
             any.assoc ==1.0.2,
             any.async ==2.2.4,
             async -bench,
             any.atomic-primops ==0.8.4,
             atomic-primops -debug,
             any.attoparsec ==0.14.4,
             attoparsec -developer,
             any.barbies ==2.0.3.1,
             any.base ==4.13.0.0,
             any.base-compat ==0.12.1,
             any.base-compat-batteries ==0.12.1,
             any.base-orphans ==0.8.6,
             any.base16-bytestring ==1.0.2.0,
             any.base64-bytestring ==1.2.1.0,
             any.bifunctors ==5.5.11,
             bifunctors +semigroups +tagged,
             any.bimap ==0.4.0,
             any.binary ==0.8.7.0,
             any.bitwise ==1.0.0.1,
             any.boomerang ==1.4.8,
             any.bv-sized ==1.0.4,
             any.bytestring ==0.10.10.1,
             any.bytestring-builder ==0.10.8.2.0,
             bytestring-builder +bytestring_has_builder,
             any.call-stack ==0.4.0,
             any.case-insensitive ==1.2.1.0,
             any.cereal ==0.5.8.2,
             cereal -bytestring-builder,
             any.clock ==0.8.3,
             clock -llvm,
             any.colour ==2.3.6,
             any.comonad ==5.0.8,
             comonad +containers +distributive +indexed-traversable,
             any.concurrent-extra ==0.7.0.12,
             any.concurrent-output ==1.10.15,
             any.conduit ==1.3.4.2,
             any.config-schema ==1.2.2.0,
             any.config-value ==0.8.2.1,
             any.constraints ==0.13.3,
             any.containers ==0.6.2.1,
             any.contravariant ==1.5.5,
             contravariant +semigroups +statevar +tagged,
             crucible +unsafe-operations,
             any.cryptohash-sha1 ==0.11.101.0,
             any.cryptohash-sha256 ==0.11.102.1,
             cryptohash-sha256 -exe +use-cbits,
             any.data-binary-ieee754 ==0.4.4,
             any.data-default-class ==0.1.2.0,
             any.data-fix ==0.3.2,
             any.deepseq ==1.4.4.0,
             any.deriving-compat ==0.6,
             deriving-compat +base-4-9 +new-functor-classes +template-haskell-2-11,
             any.directory ==1.3.6.0,
             any.distributive ==0.6.2.1,
             distributive +semigroups +tagged,
             any.dlist ==1.0,
             dlist -werror,
             any.dotgen ==0.4.3,
             dotgen -devel,
             any.entropy ==0.4.1.7,
             entropy -halvm,
             any.erf ==2.0.0.0,
             any.errors ==2.3.0,
             any.exceptions ==0.10.4,
             exceptions +transformers-0-4,
             any.executable-path ==0.0.3.1,
             any.extra ==1.7.10,
             any.fgl ==5.7.0.3,
             fgl +containers042,
             any.fgl-visualize ==0.1.0.1,
             any.filemanip ==0.3.6.3,
             any.filepath ==1.4.2.1,
             any.fingertree ==0.1.5.0,
             any.free ==5.1.7,
             any.generic-deriving ==1.14.1,
             generic-deriving +base-4-9,
             any.generic-lens ==2.2.1.0,
             any.generic-lens-core ==2.2.1.0,
             any.generic-random ==1.5.0.1,
             generic-random -enable-inspect,
             any.ghc ==8.8.4,
             any.ghc-boot ==8.8.4,
             any.ghc-boot-th ==8.8.4,
             any.ghc-heap ==8.8.4,
             any.ghc-prim ==0.5.3,
             any.ghci ==8.8.4,
             any.githash ==0.1.6.2,
             any.gitrev ==1.3.1,
             any.happy ==1.20.0,
             any.hashable ==1.3.5.0,
             hashable +integer-gmp -random-initial-seed,
             any.hashtables ==1.2.4.2,
             hashtables -bounds-checking -debug -detailed-profiling -portable -sse42 +unsafe-tricks,
             any.haskeline ==0.7.5.0,
             any.haskell-lexer ==1.1,
             any.haskell-src-exts ==1.23.1,
             any.haskell-src-meta ==0.8.9,
             any.hedgehog ==1.1.1,
             any.hpc ==0.6.0.3,
             any.hsc2hs ==0.68.8,
             hsc2hs -in-ghc-tree,
             any.hspec ==2.9.7,
             any.hspec-core ==2.9.7,
             any.hspec-discover ==2.9.7,
             any.hspec-expectations ==0.8.2,
             any.ieee754 ==0.8.0,
             any.indexed-profunctors ==0.1.1,
             any.indexed-traversable ==0.1.2,
             any.indexed-traversable-instances ==0.1.1,
             any.integer-gmp ==1.0.2.0,
             any.integer-logarithms ==1.0.3.1,
             integer-logarithms -check-bounds +integer-gmp,
             any.invariant ==0.5.5,
             any.io-streams ==1.5.2.1,
             io-streams +network -nointeractivetests +zlib,
             any.itanium-abi ==0.1.1.1,
             any.json ==0.10,
             json +generic -mapdict +parsec +pretty +split-base,
             any.kan-extensions ==5.2.3,
             any.lens ==5.1,
             lens -benchmark-uniplate -dump-splices +inlining -j +test-hunit +test-properties +test-templates +trustworthy,
             any.libBF ==0.6.3,
             libBF -system-libbf,
             any.libyaml ==0.1.2,
             libyaml -no-unicode -system-libyaml,
             any.lifted-async ==0.10.2.2,
             any.lifted-base ==0.2.3.12,
             llvm-pretty-bc-parser -fuzz -regressions,
             any.logict ==0.7.0.3,
             any.lumberjack ==1.0.1.0,
             any.megaparsec ==9.0.1,
             megaparsec -dev,
             any.microlens ==0.4.12.0,
             any.microlens-th ==0.4.3.10,
             any.mmorph ==1.2.0,
             any.monad-control ==1.0.3.1,
             any.monadLib ==3.10.1,
             any.mono-traversable ==1.0.15.3,
             any.mtl ==2.2.2,
             any.network ==3.1.2.7,
             network -devel,
             any.optparse-applicative ==0.17.0.0,
             optparse-applicative +process,
             any.optparse-simple ==0.1.1.4,
             optparse-simple -build-example,
             any.panic ==0.4.0.1,
             any.parallel ==3.2.2.0,
             any.parameterized-utils ==2.1.5.0,
             parameterized-utils +unsafe-operations,
             any.parsec ==3.1.14.0,
             any.parser-combinators ==1.3.0,
             parser-combinators -dev,
             any.pretty ==1.1.3.6,
             any.pretty-show ==1.10,
             any.prettyprinter ==1.7.1,
             prettyprinter -buildreadme +text,
             any.prettyprinter-ansi-terminal ==1.1.3,
             any.primitive ==0.7.3.0,
             any.process ==1.6.9.0,
             any.profunctors ==5.6.2,
             any.pvar ==1.0.0.0,
             any.quickcheck-io ==0.2.0,
             any.random ==1.2.1,
             any.raw-strings-qq ==1.1,
             any.reflection ==2.1.6,
             reflection -slow +template-haskell,
             any.regex-base ==0.94.0.2,
             any.regex-compat ==0.95.2.1,
             any.regex-posix ==0.96.0.1,
             regex-posix -_regex-posix-clib,
             any.resourcet ==1.2.4.3,
             any.rts ==1.0,
             any.s-cargot ==0.1.4.0,
             s-cargot -build-example,
             any.safe ==0.3.19,
             any.scheduler ==2.0.0.1,
             any.scientific ==0.3.7.0,
             scientific -bytestring-builder -integer-simple,
             any.semialign ==1.2.0.1,
             semialign +semigroupoids,
             any.semigroupoids ==5.3.7,
             semigroupoids +comonad +containers +contravariant +distributive +tagged +unordered-containers,
             any.semigroups ==0.20,
             semigroups +binary +bytestring -bytestring-builder +containers +deepseq +hashable +tagged +template-haskell +text +transformers +unordered-containers,
             any.setenv ==0.1.1.3,
             any.simple-get-opt ==0.4,
             any.smallcheck ==1.2.1,
             any.split ==0.2.3.4,
             any.splitmix ==0.1.0.4,
             splitmix -optimised-mixer,
             any.stm ==2.5.0.0,
             any.streaming-commons ==0.2.2.4,
             streaming-commons -use-bytestring-builder,
             any.strict ==0.4.0.1,
             strict +assoc,
             any.string-interpolate ==0.3.1.1,
             string-interpolate -bytestring-builder -extended-benchmarks -text-builder,
             any.syb ==0.7.2.1,
             any.tagged ==0.8.6.1,
             tagged +deepseq +transformers,
             any.tasty ==1.4.2.1,
             tasty +clock +unix,
             any.tasty-ant-xml ==1.1.8,
             any.tasty-checklist ==1.0.3.0,
             any.tasty-expected-failure ==0.12.3,
             any.tasty-golden ==2.3.5,
             tasty-golden -build-example,
             any.tasty-hedgehog ==1.2.0.0,
             any.tasty-hspec ==1.2,
             any.tasty-hunit ==0.10.0.3,
             any.tasty-quickcheck ==0.10.2,
             any.tasty-smallcheck ==0.8.2,
             any.tasty-sugar ==1.1.0.0,
             any.template-haskell ==2.15.0.0,
             any.temporary ==1.3,
             any.terminal-size ==0.3.3,
             any.terminfo ==0.4.1.4,
             any.text ==1.2.4.0,
             any.text-conversions ==0.3.1,
             any.text-short ==0.1.5,
             text-short -asserts,
             any.tf-random ==0.5,
             any.th-abstraction ==0.4.3.0,
             any.th-compat ==0.1.3,
             any.th-expand-syns ==0.4.9.0,
             any.th-lift ==0.8.2,
             any.th-lift-instances ==0.1.19,
             any.th-orphans ==0.13.12,
             any.th-reify-many ==0.1.10,
             any.these ==1.1.1.1,
             these +assoc,
             any.time ==1.9.3,
             any.time-compat ==1.9.6.1,
             time-compat -old-locale,
             any.transformers ==0.5.6.2,
             any.transformers-base ==0.4.6,
             transformers-base +orphaninstances,
             any.transformers-compat ==0.7.1,
             transformers-compat -five +five-three -four +generic-deriving +mtl -three -two,
             any.type-equality ==1,
             any.typed-process ==0.2.8.0,
             any.unbounded-delays ==0.1.1.1,
             any.uniplate ==1.6.13,
             any.unix ==2.7.2.2,
             any.unix-compat ==0.5.4,
             unix-compat -old-time,
             any.unliftio-core ==0.2.0.1,
             any.unordered-containers ==0.2.19.1,
             unordered-containers -debug,
             any.utf8-string ==1.0.2,
             any.uuid-types ==1.0.5,
             any.vector ==0.12.3.1,
             vector +boundschecks -internalchecks -unsafechecks -wall,
             any.vector-algorithms ==0.8.0.4,
             vector-algorithms +bench +boundschecks -internalchecks -llvm +properties -unsafechecks,
             any.versions ==5.0.3,
             any.void ==0.7.3,
             void -safe,
             any.wcwidth ==0.0.2,
             wcwidth -cli +split-base,
             any.websockets ==0.12.7.3,
             websockets -example,
             what4 -drealtestdisable -solvertests -stptestdisable,
             any.witherable ==0.4.2,
             any.wl-pprint-annotated ==0.1.0.1,
             any.xml ==1.3.14,
             any.yaml ==0.11.8.0,
             yaml +no-examples +no-exe,
             any.zenc ==0.1.2,
             any.zlib ==0.6.2.3,
             zlib -bundled-c-zlib -non-blocking-ffi -pkg-config,
             any.zlib-bindings ==0.1.1.5
index-state: hackage.haskell.org 2022-04-26T09:36:02Z
