!client/node_modules/semver/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
**/.envrc
**/.eslintignore
**/.gitignore
**/.vscode
**/*-workspace
**/*.map
**/*.ts
**/shell.nix
**/tsconfig.json
client/node_modules/**
client/src/
dist/
nix/
node_modules/
server/node_modules/**
client/src/
vsce
