# This file should list ALL the directories/files that should NOT make it into
# the VSIX file.  Because we use a bundler, it should pretty much be everything
# but the `dist/` directory.  However, `vsce` is smart enough to not include the
# VSIX itself.
.envrc
.eslintignore
.gitignore
.vscode/
bin/
client/
crux-build/
dist/**/*.d.ts
dist/**/*.map
examples/
nix/
node_modules/
results/
server/
shared/
shell.nix
static/
tsconfig-common.json
tsconfig.json
webpack.config.ts
webview/
