-- For no-overflow, check the following ub-sanitizers
ub-sanitizers: [ "signed-integer-overflow", "shift",  "integer-divide-by-zero" ]
supply-main-arguments: empty

-- Don't produce counterexamples upon abnormal exits
abnormal-exit-behavior: never-fail

-- Generic SV-COMP options
clang-opts: "-fbracket-depth=1024"
solver: "z3"
timeout: 30
floating-point: "ieee"
goal-timeout: 30
make-executables: no
skip-report: yes
iteration-bound: 50
recursion-bound: 100
lax-pointer-ordering: yes
lax-constant-equality: yes
lax-arithmetic: yes
proof-goals-fail-fast: yes
hash-consing: yes
lazy-compile: no
unsat-cores: no
path-sat: yes
lax-loads-and-stores: yes
