-- For unreach-call, make assert() a fatal error
abnormal-exit-behavior: only-assert-fail
supply-main-arguments: empty

-- Generic SV-COMP options
clang-opts: "-fbracket-depth=1024"
solver: "z3"
timeout: 30
floating-point: "ieee"
goal-timeout: 30
make-executables: no
skip-report: yes
iteration-bound: 50
recursion-bound: 100
lax-pointer-ordering: yes
lax-constant-equality: yes
lax-arithmetic: yes
proof-goals-fail-fast: yes
hash-consing: yes
lazy-compile: no
unsat-cores: no
path-sat: yes
lax-loads-and-stores: yes
