name: crucible-jvm builds
on:
  push:
    branches: [master, "release-**"]
  pull_request:
    # Don't run on documentation-only changes
    paths-ignore: ["**.md"]
  workflow_dispatch:

env:
  CI_TEST_LEVEL: "1"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        cabal: ["3.14.2.0"]
        ghc: ["9.6.7", "9.8.4", "9.10.1"]
        include:
          - os: macos-15
            cabal: 3.14.2.0
            ghc: 9.10.1
          - os: windows-2022
            cabal: 3.14.2.0
            ghc: 9.10.1
    name: crucible-jvm - GHC v${{ matrix.ghc }} - ${{ matrix.os }}
    uses: GaloisInc/.github/.github/workflows/haskell-ci.yml@v2
    with:
      build-targets: pkg:crucible-jvm
      cabal: ${{ matrix.cabal }}
      # The numeric prefix can be updated to force the use of a new cache if
      # the current cache contents become corrupted/invalid.  This can
      # sometimes happen when (for example) the OS version is changed but
      # older .so files are cached, which can have various effects
      # (e.g. cabal complains it can't find a valid version of the "happy"
      # tool).
      #
      # This also periodically happens on MacOS builds due to a tar bug
      # (symptom: "No suitable image found ... unknown file type, first
      # eight bytes: 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00")
      cache-key-prefix: 1-jvm
      check: false
      check-freeze: ${{ startsWith(matrix.os, 'ubuntu') }}
      ghc: ${{ matrix.ghc }}
      os: ${{ matrix.os }}
      pre-hook: |
        cp "cabal.GHC-${{ matrix.ghc }}.config" cabal.project.freeze
      pre-test-hook: |
        env \
          SOLVER_PKG_VERSION="snapshot-20260119" \
          BUILD_TARGET_OS="${{ matrix.os }}" \
          BUILD_TARGET_ARCH="${RUNNER_ARCH}" \
          "${GITHUB_WORKSPACE}/.github/ci.sh" \
          install_solvers
      sdist-targets: crucible-jvm
      submodules: "true"
      test-targets: pkg:crucible-jvm
