name: crux-mir
on:
  push:
    branches: [master, "release-**"]
  pull_request:
  workflow_dispatch:

jobs:
  outputs:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.outputs.outputs.changed-files }}
      name: ${{ steps.outputs.outputs.name }}
      crux-mir-version: ${{ steps.outputs.outputs.crux-mir-version }}
      release: ${{ steps.env.outputs.release }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: outputs
        run: |
          .github/ci.sh set_crux_mir_version

  build:
    runs-on: ${{ matrix.os }}
    needs: [outputs]
    strategy:
      fail-fast: false
      matrix:
        # We want Windows soon, but it doesn't need to be now
        os: [ubuntu-latest, macos-latest] #, windows-latest]
        # We want GHC 8.10 soon, but it doesn't need to be now
        ghc: ["8.6.5", "8.8.4"] # "8.10.2"]
        # Windows only seems to work on 8.6.5. Others result in
        # segfaults or other internal errors.
        exclude:
          - os: windows-latest
            ghc: 8.10.2
          - os: windows-latest
            ghc: 8.8.4
    name: crux-mir - GHC v${{ matrix.ghc }} - ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-haskell@v1
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2020-03-22
          override: true
          components: rustc-dev

      - uses: actions/cache@v2
        name: Cache cabal store
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            dist-newstyle
          key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc)) }}-${{ github.sha }}
          restore-keys: |
            cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc)) }}-

      - shell: bash
        run: .github/ci.sh install_system_deps
        env:
          Z3_VERSION: "4.8.8"
          YICES_VERSION: "2.6.2"

      - shell: bash
        run: cd dependencies/mir-json && cargo install --locked --force

      - shell: bash
        run: .github/ci.sh configure

      - shell: bash
        run: .github/ci.sh build exe:crux-mir

      - shell: bash
        run: cd crux-mir && bash ./translate_libs.sh

      - shell: bash
        run: .github/ci.sh test crux-mir

      - shell: bash
        run: .github/ci.sh bundle_crux_mir_files
        if: startsWith(github.ref, 'refs/heads/release-')
        env:
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          VERSION: ${{ needs.outputs.outputs.crux-mir-version }}

      - uses: actions/upload-artifact@v2
        if: startsWith(github.ref, 'refs/heads/release-')
        with:
          path: crux-mir-*.tar.gz*
          name: crux-mir-${{ runner.os }}-${{ matrix.ghc }}
